.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.AdminPage {
  /* color: red; */
}

.error {
  color: red;
}

.AdminPageContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}


.spec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridContainer {
  display: flex;

  justify-content: space-around;


}

.boxes {
  border: 2px solid black;
}

.pagrLink {
  border: 2px solid black;
}

.adminBoxes {
  border: 2px solid black;
}

.pagrLinkContainer {
  display: grid;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

.pagrLink:link,
.pagrLink:visited {
  background-color: lightblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.pagrLink:hover,
.pagrLink:active {
  background-color: red;
}